/*
  Color palette: https://coolors.co/6f1d1b-bb9457-432818-99582a-ffe6a7
*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem;
  text-align: center;
  background-color: #432818;
}

.container {
  color: #FFE6A7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.7;
  letter-spacing: 0.5;
  word-spacing: 0.05em;
}



